.cards {
  max-width: 882px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 50px auto;
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  padding: 0;
  list-style: none;
}

.card {
  max-width: 282px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.card__cointainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  18px;
}

.card__cointainer-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.card__title {
  color: black;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__icon {
  width: 20px;
  height: 20px;
}

.card__icon:hover {
  opacity: 50%;
}

.card__icon_type_like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin: auto 0;
  background-repeat: no-repeat;
  background-image: url(../images/like.png);
  background-size: contain;
}

.card__like-number {
  margin: auto 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  color: black;
}

.card__icon_type_like-active {
  background-image: url(../images/like-active.png);
}

.card__icon_type_delete {
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
  right: 18px;
  top: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/Trash.png);
}
